/**
* Syling for SVG
*/

.thermostat {
    position: relative;
    text-align: center;
}

svg {
    position: relative;
    left: 0;
    z-index: -1;
}

.svg-thermo-outer-border {
    fill: #f8f8f8;
}

.svg-thermo-inner-border {
    fill: #fff;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .1));
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .1));
    /* Similar syntax to box-shadow */
}

.thermo-temp-text {
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    fill: #fff;
    text-anchor: middle;
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .2));
}

.thermo-curr-temp-text {
    position: absolute;
    font-weight: 600;
    font-size: 8px;
    fill: #fff;
    text-anchor: middle;
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .2));
}

/**
* Styling for user controls
*/

.control-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.text-input-container {
    display: block;
    text-align: center;
}

#set-curr-temp {
    width: 12%;
}

/**
* Styling for slider
*/

/* Clear all styling for slider*/
input[type=range] {
    display: block;
    -webkit-appearance: none;
    width: 40%; 
    background: transparent; 
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none; 
}
  
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

/* Styling for thumb */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid #b9b9b9;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: -14px; /* For Chrome */
}

input[type=range]::-moz-range-thumb {
    border: 2px solid #b9b9b9;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    cursor: pointer;
}  

/* Styling for track*/
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #d1d1d1;
}
  
input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #d1d1d1;
}
  
input[type=range]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #d1d1d1;
}

input[type=range]::-ms-fill-lower {
    background: #a5a5a5;
}

input[type=range]::-moz-range-progress {
    background-color: #a5a5a5;
}