
.thermostat-border {
    position: absolute;
    top: 0;
}

.svg-thermo-outer-border {
    fill: #f8f8f8;
}

.svg-thermo-inner-border {
    fill: #fff;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .1));
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .1));
    /* Similar syntax to box-shadow */
}

/*****************************
 *   Styling for Border arcs
 *****************************/

.svg-arc {
    fill: transparent;
    stroke-width: 2;
}

.svg-arc-cooling {
    stop-color: #5495CA; 
}

.svg-arc-heating {
    stop-color: #EF6B6B; 
}

.svg-arc-bottom {
    stroke: #52525A;
}
