
/* Styles for input text */
#tc-input-text {
    width: 10%;
}

/* Styles for input range*/
#tc-input-range {
    margin-left: 10px;
}

/* Clear all styling for slider */
input[type=range] { 
    -webkit-appearance: none;
    background: transparent; 
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none; 
}
  
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

/* Styling for thumb */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid #b9b9b9;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: -14px; /* For Chrome */
}

input[type=range]::-moz-range-thumb {
    border: 2px solid #b9b9b9;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    cursor: pointer;
}  

/* Styling for track*/
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #d1d1d1;
}
  
input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #d1d1d1;
}
  
input[type=range]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #d1d1d1;
}

input[type=range]::-ms-fill-lower {
    background: #a5a5a5;
}

input[type=range]::-moz-range-progress {
    background-color: #a5a5a5;
}