
.thermostat-face {
    position: absolute;
    top: 0;
}

.svg-thermo-face-idle {
    fill: #656B73; /* Default face colour*/
    transition: fill 0.3s ease;
}

.svg-thermo-face-cooling {
    fill: #5495CA;
    transition: fill 0.3s ease;
}

.svg-thermo-face-heating {
    fill: #d45f5f;
    transition: fill 0.3s ease;
}

.svg-sun-icon {
    fill: #000;
    opacity: 0.3;
    transform: translate(45%, 70%) scale(0.45, 0.45);
}