/*****************
 *   Containers
 *****************/

.container {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thermostat-border {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
}

.origin {
    position: absolute;
    margin: auto;
    top: 45%;
    left: 50%;
    width: 1px;
    height: 1px;
}

.thermostat-face {
    position: relative;
    z-index: 1;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-radius: 50%;
    cursor: grab;
}

/**************************
 *   General SVG styles
 **************************/

svg {
    position: relative;
    left: 0;
    pointer-events: none;
}

/* Remove selection highlight on SVG text*/
svg text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

svg text::selection {
    background: none;
}

/**************************
 *   Styling for Border
 **************************/

.svg-thermo-outer-border {
    fill: #f8f8f8;
}

.svg-thermo-inner-border {
    fill: #fff;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .1));
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .1));
    /* Similar syntax to box-shadow */
}

/*****************************
 *   Styling for Border arcs
 *****************************/

.svg-arc {
    fill: transparent;
    stroke-width: 3;
}

.svg-arc-cooling {
    stop-color: #5495CA; 
}

.svg-arc-heating {
    stop-color: #EF6B6B; 
}

.svg-arc-bottom {
    stroke: #52525A;
}

/*************************
 *   Styling for Face
 *************************/

.svg-thermo-face-idle {
    fill: #656B73; /* Default face colour*/
    transition: fill 0.3s ease;
}

.svg-thermo-face-cooling {
    fill: #5495CA;
    transition: fill 0.3s ease;
}

.svg-thermo-face-heating {
    fill: #d45f5f;
    transition: fill 0.3s ease;
}

.svg-sun-icon {
    fill: #000;
    opacity: 0.3;
    transform: translate(45%, 70%) scale(0.45, 0.45);
}

/* Text on SVG */
.thermo-temp-text {
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    fill: #fff;
    text-anchor: middle;
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .2));
}

.thermo-curr-temp-text {
    position: absolute;
    font-weight: 600;
    font-size: 8px;
    fill: #fff;
    text-anchor: middle;
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .2));
}

/********************************
 *   Styling for user controls
 ********************************/
.control-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.text-input-container {
    display: block;
    text-align: center;
}

#set-curr-temp {
    width: 12%;
}

/**************************
 *   Styling for Slider
 **************************/

/* Styling for slider marks SVG, there are exactly 60 marks */
.slider-marks {
    fill: none; 
    stroke-dasharray: .7 2.55;
    stroke-dashoffset: -0.5;
    stroke-width: 8;
    stroke: #d8d8d8;
}

/**************************************
 *   Styling for user control slider
 **************************************/

/* Clear all styling for slider */
input[type=range] {
    display: block;
    -webkit-appearance: none;
    width: 40%; 
    background: transparent; 
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none; 
}
  
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

/* Styling for thumb */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid #b9b9b9;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: -14px; /* For Chrome */
}

input[type=range]::-moz-range-thumb {
    border: 2px solid #b9b9b9;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    cursor: pointer;
}  

/* Styling for track*/
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #d1d1d1;
}
  
input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #d1d1d1;
}
  
input[type=range]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #d1d1d1;
}

input[type=range]::-ms-fill-lower {
    background: #a5a5a5;
}

input[type=range]::-moz-range-progress {
    background-color: #a5a5a5;
}