
.thermostat-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 20px auto;
}

.control-container {
    display: block;
    height: 35px;
    width: 400px;
    margin: auto;
    padding: 10px;
}